#registerdiv {
    height: 1300px;
    background: url("../../assets/images/slider/slide_2.jpg");
    background-size: cover;
}

.form-horizontal {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.98);
}

.registrdiv {

    float: right;
    margin-right: 450px;
}

.registrdiv .form-horizontal {
    width: 550px;
}